Repository adamconnelly/Thrift.Net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-and-run-tests.yaml, pipelines/lint-docs.yaml

pipelines/build-and-run-tests.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Run Unit Tests
    inputs:
      command: test
      projects: $(System.DefaultWorkingDirectory)/src/Thrift.Net.Tests/Thrift.Net.Tests.csproj
  ...

pipelines/lint-docs.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Npm@1
    displayName: Install NPM packages
    inputs:
      command: install
  - task: Npm@1
    displayName: Run markdownlint
    inputs:
      command: custom
      customCommand: run --silent lint:markdown

chore: add sln file for dependabot
  .vscode/solution-explorer/class.cs-template
  .vscode/solution-explorer/class.ts-template
  .vscode/solution-explorer/class.vb-template
  .vscode/solution-explorer/default.ts-template
  .vscode/solution-explorer/enum.cs-template
  .vscode/solution-explorer/interface.cs-template
  .vscode/solution-explorer/interface.ts-template
  .vscode/solution-explorer/template-list.json
  .vscode/solution-explorer/template-parameters.js
  .vscode/tasks.json
  src/Thrift.Net.sln
Due: pipelines/build-and-run-tests.yaml

ci: don't lint Dependabot commit messages
  commitlint-ci.config.js
Due: none

chore(deps): bump Microsoft.CodeAnalysis.CSharp.Scripting from 3.7.0 to 3.8.0
  src/Thrift.Net.Tests/Thrift.Net.Tests.csproj
Due: pipelines/build-and-run-tests.yaml

feat(compiler): add exception support
  .gitignore
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/BinderProvider.cs
  src/Thrift.Net.Compilation/Binding/ExceptionBinder.cs
  src/Thrift.Net.Compilation/Binding/FieldBinder.cs
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/CompilerMessageId.cs
  src/Thrift.Net.Compilation/Resources/CompilerMessages.resx
  src/Thrift.Net.Compilation/Symbols/Builders/ExceptionBuilder.cs
  src/Thrift.Net.Compilation/Symbols/Document.cs
  src/Thrift.Net.Compilation/Symbols/Exception.cs
  src/Thrift.Net.Compilation/Symbols/IDocument.cs
  src/Thrift.Net.Compilation/Symbols/IException.cs
  src/Thrift.Net.Compilation/Symbols/ISymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/SymbolVisitor.cs
  src/Thrift.Net.Compilation/Templates/csharp.stg
  src/Thrift.Net.Tests/Compilation/Binding/ExceptionBinder/IdentifierTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Document/AllTypesTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Document/DocumentTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Document/ExceptionTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Exception/ExceptionTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Exception/FieldTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Exception/OptionalFieldTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/ExceptionErrorTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/ExceptionParsingTests.cs
  thrift-samples/exceptions/NotFoundException.thrift
  thrift-samples/exceptions/comparison.thrift
  thrift-samples/exceptions/errors.thrift
  thrift-samples/unions/comparison.thrift
Due: pipelines/build-and-run-tests.yaml

feat: add commitizen for formatting commits
  .cz-config.js
  README.md
  commitlint.config.js
  docs/CONTRIBUTING.md
  package-lock.json
  package.json
Due: pipelines/lint-docs.yaml

refactor(compiler): pull out FieldContainer base class
  .cz-config.js
  src/Thrift.Net.Compilation/Symbols/Exception.cs
  src/Thrift.Net.Compilation/Symbols/FieldContainer.cs
  src/Thrift.Net.Compilation/Symbols/Struct.cs
  src/Thrift.Net.Compilation/Symbols/Union.cs
Due: pipelines/build-and-run-tests.yaml

feat(compiler): add support for integer expressions
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/BinderProvider.cs
  src/Thrift.Net.Compilation/Binding/ConstantBinder.cs
  src/Thrift.Net.Compilation/Binding/ConstantValueBinder.cs
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/IThriftDocumentGenerator.cs
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Compilation/Symbols/Builders/ConstantBuilder.cs
  src/Thrift.Net.Compilation/Symbols/Builders/ConstantValueBuilder.cs
  src/Thrift.Net.Compilation/Symbols/Constant.cs
  src/Thrift.Net.Compilation/Symbols/ConstantValue.cs
  src/Thrift.Net.Compilation/Symbols/Document.cs
  src/Thrift.Net.Compilation/Symbols/IConstant.cs
  src/Thrift.Net.Compilation/Symbols/IConstantValue.cs
  src/Thrift.Net.Compilation/Symbols/IDocument.cs
  src/Thrift.Net.Compilation/Templates/csharp.stg
  src/Thrift.Net.Compilation/ThriftDocumentGenerator.cs
  src/Thrift.Net.Compilation/ThriftFile.cs
  src/Thrift.Net.Compilation/ThriftFileProvider.cs
  src/Thrift.Net.Compilation/ThriftTypeGenerationInfo.cs
  src/Thrift.Net.Compiler/Program.cs
  src/Thrift.Net.Tests/Compilation/Binding/ConstantBinder.cs/NameTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/ConstantValueBinder/RawValueTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/ConstantValueBinder/TypeTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/ConstantParsingTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/StructParsingTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftDocumentGenerator/EnumGenerationTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftDocumentGenerator/NamespaceGenerationTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftDocumentGenerator/StructGeneration/BasicTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftDocumentGenerator/StructGeneration/IsSetTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftDocumentGenerator/ThriftDocumentGeneratorTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftFileProviderTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftFileTests.cs
  src/Thrift.Net.Tests/Compiler/ProgramTests.cs
  thrift-samples/constants.thrift
  thrift-samples/constants/Constants.thrift
  thrift-samples/constants/User.Constants.thrift
  thrift-samples/constants/User.thrift
  thrift-samples/constants/UserConstants.thrift
Due: pipelines/build-and-run-tests.yaml

refactor(compiler): rename ConstantValue
  src/Thrift.Net.Compilation/Binding/BinderProvider.cs
  src/Thrift.Net.Compilation/Binding/ConstantExpressionBinder.cs
  src/Thrift.Net.Compilation/Symbols/Builders/ConstantExpressionBuilder.cs
  src/Thrift.Net.Compilation/Symbols/Constant.cs
  src/Thrift.Net.Compilation/Symbols/ConstantExpression.cs
  src/Thrift.Net.Compilation/Symbols/IConstant.cs
  src/Thrift.Net.Compilation/Symbols/IConstantExpression.cs
  src/Thrift.Net.Tests/Compilation/Binding/ConstantExpressionBinder/RawValueTests.cs
  src/Thrift.Net.Tests/Compilation/Binding/ConstantExpressionBinder/TypeTests.cs
Due: pipelines/build-and-run-tests.yaml

feat(compiler): return errors for const expressions
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/ConstantExpressionBinder.cs
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/CompilerMessageId.cs
  src/Thrift.Net.Compilation/Resources/CompilerMessages.resx
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Compilation/Symbols/CollectionType.cs
  src/Thrift.Net.Compilation/Symbols/Constant.cs
  src/Thrift.Net.Compilation/Symbols/IConstant.cs
  src/Thrift.Net.Compilation/Symbols/IFieldType.cs
  src/Thrift.Net.Compilation/Symbols/ISymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/SymbolVisitor.cs
  src/Thrift.Net.Compilation/Symbols/UserType.cs
  src/Thrift.Net.Tests/Compilation/Binding/ConstantExpressionBinder/TypeTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/BaseType/BaseTypeTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/ConstantErrorTests.cs
  thrift-samples/constants.thrift
Due: pipelines/build-and-run-tests.yaml

chore: update ini npm package
  package-lock.json
Due: none

feat(compiler): support for byte constants
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Tests/Compilation/Symbols/BaseType/BaseTypeTests.cs
Due: pipelines/build-and-run-tests.yaml

feat(compiler): add error for binary constants
  docs/compilation.md
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/CompilerMessageId.cs
  src/Thrift.Net.Compilation/Resources/CompilerMessages.resx
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/ConstantErrorTests.cs
Due: pipelines/build-and-run-tests.yaml, pipelines/lint-docs.yaml

refactor(compiler): rename constant Value to Expression
  src/Thrift.Net.Compilation/CompilationVisitor.cs
  src/Thrift.Net.Compilation/Symbols/Constant.cs
  src/Thrift.Net.Compilation/Symbols/IConstant.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/ConstantParsingTests.cs
Due: pipelines/build-and-run-tests.yaml

feat(compiler): add support for bool constants
  src/Thrift.Net.Antlr/Thrift.g4
  src/Thrift.Net.Compilation/Binding/ConstantExpressionBinder.cs
  src/Thrift.Net.Compilation/Extensions/FieldTypeExtensions.cs
  src/Thrift.Net.Compilation/Symbols/BaseType.cs
  src/Thrift.Net.Compilation/Symbols/Constant.cs
  src/Thrift.Net.Compilation/Symbols/IConstant.cs
  src/Thrift.Net.Compilation/Templates/csharp.stg
  src/Thrift.Net.Tests/Compilation/Binding/ConstantExpressionBinder/TypeTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/BaseType/BaseTypeTests.cs
  src/Thrift.Net.Tests/Compilation/Symbols/Constant/CSharpValueTests.cs
  src/Thrift.Net.Tests/Compilation/ThriftCompiler/ConstantParsingTests.cs
  thrift-samples/constants/Constants.thrift
Due: pipelines/build-and-run-tests.yaml

chore(deps-dev): upgrade Husky to v6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

chore(deps-dev): bump Microsoft.CodeAnalysis
  src/Thrift.Net.Tests/Thrift.Net.Tests.csproj
Due: pipelines/build-and-run-tests.yaml

docs: indicate project is unmaintained
  README.md
Due: pipelines/lint-docs.yaml

Path conditions:
  pipelines/build-and-run-tests.yaml: any of: pipelines/build-and-run-tests.yaml, src
  pipelines/lint-docs.yaml: any of: *.md, docs/**/*.md
